

.img1{   background-image: url(./assets/mike-kenneally-TD4DBagg2wE-unsplash.jpg);
}
.img2{
    background-image: url(./assets/tina-guina-obV_LM0KjxY-unsplash.jpg);
}
.img3{
    background-image: url(./assets/zarak-khan-69ilqMz0p1s-unsplash.jpg);
}

header{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.logo {
    width: 10%;
}
.page-links {

}
.icons {
    margin:0;
}
.headline {
}

nav li{
    list-style: none;
    display:inline;
    text-align: center;
    padding: 5px;
    
}