
header{
    background-image: url(./assets/tina-guina-obV_LM0KjxY-unsplash.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-wrap: wrap;
}

.logo {
    width: 10%;
}

.icons {
    margin:0;
}
.headline {
    color:white;
    font-weight:900;
    font-size: x-large;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow:1px 1px 1px black;
}

nav li{
    list-style: none;
    display:inline;
    text-align: center;
    padding: 5px;
    
}
a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
ul {
    list-style: none;
}
li {
    display: inline;
}